.card-container {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0 1rem var(--bg-color);
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 45%;
  overflow: hidden;
  position: relative;
}

.learn-more-container {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background-color: #1f3d4738;
  backdrop-filter: blur(5px);
  transition: 2s;
}
.learn-more-text {
  color: white;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  margin-top: 3em;
}

.card-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
  cursor: pointer;
}
.img:hover .learn-more-container {
  right: 0;
}
.circle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}
.card-title {
  margin-top: 0.75em;
}
.blue {
  background-color: #87ceeb;
}
.yellow {
  background-color: #e2e279;
}

.content-container {
  width: 100%;
  padding-inline: 2em;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
}
.content {
  padding-block: 2em;
  text-align: justify;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.author-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.modal-container {
  background-color: white;
  width: 35%;
  height: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.closeX {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: 500;
  padding-inline-end: 1.5em;
  color: var(--bg-color);
  opacity: 0.6;
  height: 10%;
  align-items: center;
}
.modal-container img {
  width: 100%;
  height: 55%;
  background-size: cover;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  transition: 0.5s ease;
  cursor: pointer;
}
.modal-content {
  padding-inline: 2em;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-size: cover;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  transition: 0.5s ease;
}
