@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  --bg-color: #1f242d;
  --main-color: #424949;
  --title-color: #101729;
  --text-color: #677489;
  --hover-color: #C53FA9;
}

html {
  font-size: 50.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--bg-color);
  width: 100%;
   color: var(--text-color);
}
body {
  background: white;
  color: var(--text-color);
  max-width: 1200px;
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--title-color);
  font-family: "Lato", sans-serif;
}
section {
  width: 95%;
  background-color: white;
  height: 80vh;
  margin: auto;
  overflow-x: hidden;
  padding-block: 2em;
  padding-inline: 9em;
}
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 850px) {
  html {
    font-size: 62.5%;
  }
  .home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
  .card-container {
    overflow: hidden;
  }
  .card-container:hover img {
  transform: scale(1.1);
}
}

@media (min-width: 800px) {
  html {
    font-size: 62.5%;
  }
}
